################
# SFS SETTINGS #
################
[SETTINGS]
mountpoint = "/home/dome_/sfs_mount"
# "Flat", "Custom"
tree_algorithm = "default"



##############
#  BACKENDS  #
##############
[MDH.1]
core = "core-sfs"
querySource = "inline"
query.filterFunctions = [
        ["FileName", , "EQUAL", "DME-30521-7.jpeg"],
        ["FileType", "EQUAL", "JPEG"]
]
query.filterLogicOption = "OR"

[MDH.2]
core = "core-sfs"
querySource = "file"
query.path = "/home/dome_/Projects/amos-ss2021-synthetic-file-system/config/config.graphql"

[Passthrough]
path = '/home/dome_/Pictures'
